{% macro render_image(post, from_index=false) %}
  <div class="image">
  {% if from_index %}
    <h2><a href="{{ post|url }}">{{ post.title }}</a></h2>
<h2>{{ post.title }}</h2>
    <h3>{{ post.signature }}</h3><p>this is the images macro thing!
  {% else %}
    <h2>{{ post.title }}</h2>
    <h3>{{ post.signature }}</h3><p>this is the images macro thing!
  {% endif %}
  {{ post.body }}
  </div>
{% endmacro %}
