{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}

{% block body %}
<section class="image-page">
  <h1 id="title">{{ this.hardwarename }}</h1>
  <p class="meta">FreedomBox {{ this.version }} | Repository "{{ this.repository }}"</p>
  <p class="download">
    {% for image in this.attachments.images %}
      <img src="{{ image|url }}" title="{{ this.hardwarename }}">
    {% endfor %}
    <a class="button" href="{{ this.download }}" title="Download image for {{ this.hardwarename }}">download image</a>
    <a class="ftp" href="{{ this.ftp }}" title="{{ this.hardwarename }} FTP folder">signatures & images</a>
    {{ this.body }}
  </p>
</section>

<section class="image-help">
  <h3>How to install the image</h3>
  <p>Watch our step by step video on how to build, prepare and install your FreedomBox:</p>
  <video controls>
    <source src="movie.mp4" type="video/mp4">
    <source src="https://freedombox.org/FreedomBoxSetuplVideo2018.webm" type="video/ogg">
    Your browser does not support the video tag.
  </video>
  <p>
    For more information visit <a href="https://wiki.debian.org/FreedomBox/Download">the wiki</a>.
  </p>
</section>
{% endblock %}
