<!doctype html>
<head>
  <meta property="og:title" content="FreedomBox - Personal Server at Home" />
  <meta property="og:description" content="FreedomBox is a personal server running a free software operating system, with free applications designed to create and preserve personal privacy." />
  <meta property="og:image" content="./images/logo-big.png" />
  <meta property="og:secure_url" content="./images/logo-big.png" />
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ '/static/style.css'|url }}">
  <link rel="icon" type="image/png" href="{{ '/images/freedombox-logo-32px.png'|url }}">
  <title>{% block title %}Welcome{% endblock %} — FreedomBox</title>
</head>
<body name="top">
  <header>
    <nav>
      <ul class="nav navbar-nav">
        <li{% if this._path == '/' %} class="active"{% endif
          %}><a href="{{ '/'|url }}" class="home-logo"></a></li>
        {% for href, title in [
          ['/#get', 'Buy'],
          ['/#download', 'Download'],
          ['/#privacy', 'Privacy'],
          ['/#trust', 'Trust'],
          ['/#community', 'Community']
        ] %}
          <li{% if this.is_child_of(href) %} class="active"{% endif
            %}><a href="{{ href|url }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer class="darken">
    <ul>
      <li><a href="https://salsa.debian.org/freedombox-team/">Source Code</a></li>
      <li><a href="https://discuss.freedombox.org">Forum</a></li>
      <li><a href="https://wiki.debian.org/FreedomBox">Wiki</a></li>
      <li><a href="https://wiki.debian.org/FreedomBox/Contribute">Contribute</a></li>
      <li><a href="https://wiki.debian.org/FreedomBox/ProgressCalls" class="button">Progress Calls</a></li>
      <li><a href="https://freedomboxfoundation.org/donate/">Donate</a></li>
      <li><a href="https://wiki.debian.org/FreedomBox/Introduction">About us</a></li>
      <li><a href="https://wiki.debian.org/FreedomBox/Support">Contact</a></li>
      <li><a href="https://wiki.debian.org/FreedomBox/QuestionsAndAnswers">FAQ</a></li>
      <li><a href="https://freedomboxfoundation.org/">FreedomBox Foundation</a></li>
    </ul>
  </footer>
  <a id="toplink" href="#top">TOP</a>
</body>
