/*----------- css reset ----------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*----------- fonts ----------------*/

/* lato-italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'),
       url('../fonts/lato-v14-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lato-v14-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'),
       url('../fonts/lato-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lato-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'),
       url('../fonts/lato-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lato-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
       url('../fonts/lato-v14-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lato-v14-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'),
       url('../fonts/lato-v14-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lato-v14-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-900italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: local('Lato Black Italic'), local('Lato-BlackItalic'),
       url('../fonts/lato-v14-latin-900italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lato-v14-latin-900italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*----------- basic layout ----------------*/

html {
    font-size: 62.5%; /* 0.1rem = 1px */
}

/*----------- main layout ----------------*/

body {
    font-family: 'Lato', sans-serif;
    background: #fff;
    color: #646464;
    font-size: 2.1rem;
    line-height: 1.5;
}

header, footer, section {
    display: grid;
    grid-template-columns: auto 6.4rem 6.4rem 6.4rem 6.4rem 51.6rem auto;
    grid-template-rows: auto;
}

header {
    position: fixed;
    text-align: center;
    width: 100%;
    background: white;
    z-index: 1;
    box-shadow: 0.3rem 0 8rem rgba(0,0,0,0.1);
}


section {
    padding: 6rem 0;
}

section * {
    grid-column-start: 2;
    grid-column-end: 7;
}

section:nth-child(even) h1 {
    grid-column-start: 3;
}

section:nth-child(odd) h1 {
    grid-column-start: 4;
}

section:nth-child(even) p {
    grid-column-start: 4;
    position: relative;
}

section:nth-child(odd) p {
    grid-column-start: 5;
    position: relative;
}

.page {
    padding-top: 6.4rem;
}

.page a {
    text-decoration: none;
    font-weight: 900;
    color: #1771cf;
}

.page a:hover{
    text-decoration: underline;
}

h1 {
  font-size: 4.4rem;
  font-weight: 700;
  color: #368ee9;
  line-height: 0.95;
  margin: 1.4rem 0 4rem;
  position: relative;
  vertical-align: bottom;
}

section#freedombox h1:after,
section#privacy h1:after,
section#trust h1:after,
section#pioneer h1:after,
section#community h1:after {
    position: absolute;
    content: "";
    width: 12.8rem;
    height: 12.8rem;
    left: -6.4rem;
    margin-top: 4.5rem;
    background-image: url("../images/icons.png");
}

section#privacy h1:after { background-position: 0 -128px;}
section#trust h1:after { background-position: 0 -256px;}
section#pioneer h1:after { background-position: 0 -384px;}
section#community h1:after { background-position: 0 -512px;}

.page a:hover{
    text-decoration: underline;
}

section#privacy h1,
section#pioneer h1   {
    color: #55e45d;
}
section#trust a,
section#community a {
    color: #383838;
}

section#trust h1,
section#community h1   {
    color: #848484;
}

section#privacy p { max-width: 43rem;}
section#trust p { max-width: 52rem;}
section#pioneer p { max-width: 50rem;}
section#community p { max-width: 46rem;}

p img {
    margin: 1.6rem 0;
    border-radius: 0.4rem;
}

.darken {
    background-image: url("../images/background.png");
    position: relative;
}

.darken:before {
    position: absolute;
    content: " ";
    width:  100%;
    height: 4rem;
    top: 0;
    margin: 0 auto;
    background: radial-gradient(ellipse at top center, rgba(240,240,240,1), rgba(240,240,240,0) 50%) no-repeat;
}

/*----------- buttons ----------------*/

section a.button {
    background-image: linear-gradient(#61a6ed 0%, #257edb 25%, #1673cf 50%);
    background-repeat: no-repeat;
    background-size: 100% 10rem;
    background-position-y: 0rem;
    display: inline-block;
    border-radius: 0.8rem;
    padding: 0.5rem 1.9rem;
    color: white;
    font-weight: 700;
    font-style: italic;
    text-shadow: 0.2rem 0.2rem #1673cf;
    margin: 3rem 2rem 0 0;
    box-shadow: 0rem 0.5rem 0.3rem rgba(0,0,0,0.1);
    transition: background-position-y 0.15s ease-out,
                box-shadow 0.15s ease-out,
                transform 0.1s ease-out;
}

section a.button:hover {
    text-decoration: none;
    background-position-y: -2.5rem;
    transform: translate(0, 0.21rem);
    box-shadow: 0rem 0rem 0rem rgba(0,0,0,0.1);
}

section#privacy a.button,
section#pioneer a.button {
    background-image: linear-gradient(#42ff4c 0%, #23da2d 25%, #1fbd28 50%);
    text-shadow: 0.2rem 0.2rem #1fbd28;
    color: white;
}

section#trust a.button,
section#community a.button {
    background-image: linear-gradient(#969696 0%, #646464 25%,  #646464 50%);
    text-shadow: 0.2rem 0.2rem #646464;
    color: white;
}


/*----------- navbar ----------------*/

nav {
    grid-column-start: 2;
    grid-column-end: 7;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    font-weight: 700;
    height: 6.4rem;
    padding: 0 2rem;
    vertical-align: middle;
    line-height: 6.7rem;
    text-decoration: none;
    color: #000;
    opacity: 0.5;
    transition: opacity 0.1s ease-out;
}

nav ul li a:hover {
    opacity: 0.8;
}

nav .home-logo {
    opacity: 1;
    background: url('../images/logo-big.png') no-repeat center;
    background-size: 100% auto;
    background-position: center -1.5rem;
    width: 8rem;
    transition: background 0.1s ease-out;
}

nav .home-logo:hover {
    opacity: 1;
    background-size: 110% auto;
    background-position: center -2.1rem;
}



/*----------- section#freedombox ----------------*/

section#freedombox img.logo {
    grid-column-start: 5;
    position: relative;
    top: -4.5rem;
    left: -2.9rem;
    margin-bottom: 2.5rem;
}

section#freedombox .screenshot {
    width: 40rem;
    max-width: 100%;
}

section#freedombox .button + a {
    font-style: italic;
}


/*----------- section#privacy ----------------*/

section#privacy p {
    max-width: 50rem;
}

section#privacy p em {
    display: block;
    font-style: italic;
    line-height: 1.2;
    color: #3fc04b;
    padding: 3.5rem 0  0 3rem;
    position: relative;
    max-width:  34rem;
    text-shadow: 0.2rem 0.2rem 0 white;
}

section#privacy p em:before {
    content:"»";
    font-weight: 500;
    font-size: 14rem;
    position: absolute;
    color: #e0fae2;
    top: -4rem;
    left: -1rem;
    z-index: -1;
}

section#privacy p span {
    display: block;
    position: relative;
    color: #3fc04b;
    font-weight: 700;
    font-size: 1.7rem;
    font-style: normal;
    text-align: right;
    top: 2rem;
    right: 0rem;
    padding-bottom: 2rem;
}


/*----------- section#trust ----------------*/

section#trust p a {
    color: inherit;
}

/*----------- section#pioneer ----------------*/

section#pioneer ul {
    grid-column-start: 5;
    margin: 2rem 0 0 -2.2rem;
    max-width: 53rem;
}

section#pioneer ul li {
    width: 12.8rem;
    float: left;
    display: inline-block;
    text-align: center;
    padding-top: 12rem;
    background-image: url('../images/icons.png');
    color: #AAA;
}
section#pioneer ul li.radicale {background-position: 128px 0;}
section#pioneer ul li.ejabberd {background-position: 128px -256px;}
section#pioneer ul li.syncthing {background-position: 128px -384px;}
section#pioneer ul li.tor {background-position: 128px -768px;}
section#pioneer ul li.mumble {background-position: 128px -124px;}
section#pioneer ul li.minetest {background-position: 128px -512px;}
section#pioneer ul li.tinytinyrss {background-position: 128px -630px;}
section#pioneer ul li.dots {background-position: 128px -880px;}

/*----------- section#get ----------------*/

section#get h1 {
    grid-column-start: 1;
    grid-column-end: 8;
    text-align: center;
}

section#get p {
    grid-column-start: 5;
    grid-column-end: 7;
}

section#get p img {
    margin-bottom: -5rem;
    max-width: 100%;
}

section#get p a.button {
    position: relative;
    top: -13rem;
    left: 11rem;
    float: none;
}

section#get em {
    padding: 0 1rem 0 4rem;
    font-size: 4.4rem;
    font-weight: 900;
    font-style: italic;
    color: #3588de;
}

section#get span {
    line-height: 1;
    width: 20rem;
    display: inline-block;
    top: 0.2rem;
    position: relative;
}

section#get ul {
    padding: 4rem 0 0;
    line-height: 1;
}

section#get ul li {
    width: 33%;
    max-width: 22rem;
    float: left;
    text-align: center;
}

section#get ul li a {
    background-size: 75%;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    padding: 0 2rem 23rem 2rem;
    margin-top: 4rem;
    opacity: 0.8;
    font-weight: 700;
    transition: background-size 0.13s ease-out, opacity 0.13s ease-out;
}

section#get ul li a:hover {
    background-size: 80%;
    text-decoration: none;
    opacity: 1;
}

section#get ul li a.raspberry-pi-2      {background-image: url("../images/raspberry-pi-2.jpg");}
section#get ul li a.raspberry-pi-3      {background-image: url("../images/raspberry-pi-3.jpg");}
section#get ul li a.lime2               {background-image: url("../images/lime2.jpg");}
section#get ul li a.lime                {background-image: url("../images/lime.jpg");}
section#get ul li a.micro               {background-image: url("../images/micro.jpg");}
section#get ul li a.beaglebone-black    {background-image: url("../images/beaglebone-black.jpg");}
section#get ul li a.cubieboard2         {background-image: url("../images/cubieboard2.jpg");}
section#get ul li a.cubieboard3         {background-image: url("../images/cubieboard3.jpg");}
section#get ul li a.dreamplug           {background-image: url("../images/dreamplug.jpg");}
section#get ul li a.pcduino3            {background-image: url("../images/pcduino3.jpg");}
section#get ul li a.qemu64bit           {background-image: url("../images/qemu64bit.jpg");}
section#get ul li a.qemu32bit           {background-image: url("../images/qemu32bit.jpg");}
section#get ul li a.virtualbox64bit     {background-image: url("../images/virtualbox64bit.jpg");}
section#get ul li a.virtualbox32bit     {background-image: url("../images/virtualbox32bit.jpg");}
section#get ul li a.x86-64bit           {background-image: url("../images/x86-64bit.jpg");}
section#get ul li a.x86-32bit           {background-image: url("../images/x86-32bit.jpg");}
section#get ul li a.debian              {background-image: url("../images/debian.png");}
section#get ul li a.aws                 {background-image: url("../images/aws.png");}

/*----------- footer ----------------*/

footer ul {
    padding-bottom: 8rem;
}

footer ul {
    grid-column-start: 2;
    grid-column-end: 7;
    column-count: 2;
    margin: 4rem 14rem 8rem;
}

footer ul li a {
    text-decoration: none;
    font-weight: 700;
    color: #646464;
}

footer ul li a:hover {
    text-decoration: underline;
}

a#toplink {
    display: none;
    position: fixed;
    font-weight: 800;
    float: right;
    bottom: 2rem;
    right: 2rem;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 1rem;
    border: 0.4rem solid white;
    border-radius: 1rem;
    opacity: 0;
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

/*----------- section.image-page ----------------*/

section.image-page h1 {
    color: #848484;
    grid-column-start: 3;
    margin-bottom: 2rem;
}

section.image-page .meta {
    font-weight: 500;
    opacity: 0.5;
    grid-column-start: 3;
}

section.image-page img {
    max-width: 100%;
}


section.image-page .download {
    grid-column-start: 3;
    padding-top: 2rem;
}

section.image-page .ftp {
    display: table;
    font-size: 1.7rem;
    font-weight: 700;
    font-style: italic;
    margin: 1.5rem 0;
    justify-self: start;
    padding: 0 2rem;
}

section.image-page .download img {
    float: left;
}

/*----------- section.image-help ----------------*/

section.image-help {
    padding: 0;
    margin-bottom: 8rem;
}

section.image-help h3 {
    grid-column-start: 3;
    border-top: 0.4rem dotted #ccc;
    font-weight: 700;
    padding: 4rem 0 2rem;
}

section.image-help p {
    grid-column-start: 3;
    padding: 0 0 2rem;
}

section.image-help video {
    grid-column-start: 3;
    grid-column-end: 7;
    width: 100%;
    box-shadow: 0 1.5rem 2rem #ccc;
    margin: 1rem 0 8rem;
    border-radius: 0.4rem;
}


/*----------- @media ----------------*/

@media all and (max-width: 71.2rem) {

    section#get ul li {
        width: 50%;
    }

}

@media all and (max-width: 51.6rem) {

    header {
        position: inherit;
        width: auto;;
        padding: 0 0 3rem;
    }

    header, footer, section {
        grid-template-columns: auto auto auto auto auto 100% auto;
    }

    h1 {
        font-size: 3.5rem;
        line-height: 1.1;
        margin: 0 0 2rem;
    }

    section {
        padding: 3rem 0;
    }

    section#freedombox img.logo {
        display: none;
    }

    footer ul {
        margin: 5rem 3rem 0rem 5rem;
        padding-bottom: 8rem;
        column-count: 1;
    }

    nav ul li {
        display: block;
        text-align: center;
    }

    nav ul li a {
        height: 5rem;
    }

    nav .home-logo, nav .home-logo:hover {
        width: 15rem;
        height: 15rem;
        background-size: 100% auto;
        background-position: center -1.5rem;
        opacity: 1;
    }

    div.page {
        padding-top: 0rem;
    }

    section > * {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    section h1:after {
        display: none;
    }

    section#freedombox p .button {
        display: table;
        margin-bottom: 2rem;
    }

    section#get p a.button {
        left: 0;
        top: -11rem;
    }

    section#get p {
        text-align: center;
    }

    section#get ul {
        margin: 0;
    }

    section#get ul li a {
        padding-bottom: 20rem;
        margin-top: 0;
    }

    section#pioneer ul {
        padding: 2rem 0 0 4rem;
        margin: 0;
    }

    section.image-help video {
        width: 90%;
        margin: 1rem 3rem 8rem;
    }

    a#toplink {
        display: inherit;
    }

}
